@font-face {
    font-family: 'Inter';
    src: url(../fonts/inter-normal.ttf);
}

@font-face {
    font-family: 'Inter-Italic';
    src: url(../fonts/inter-italic.ttf);
}

html, body{
    margin:0;
    padding:0;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    color:#000000;
}

body *{
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    color:#000000;
    box-sizing: border-box;
}

::placeholder{
    font-size: 16px;
    color:#828282;
    opacity: 1;
}

:-ms-input-placeholder{
    font-size: 16px;
    color:#828282;
    opacity: 1;
}

::-ms-input-placeholder{
    font-size: 16px;
    color:#828282;
    opacity: 1;
}

::-moz-placeholder{
    font-size: 16px;
    color:#828282;
    opacity: 1;
}

:-moz-placeholder{
    font-size: 16px;
    color:#828282;
    opacity: 1;
}

::-webkit-input-placeholder{
    font-size: 16px;
    color:#828282;
    opacity: 1;
}

h1{
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 1%;
    margin:50px 0 40px 0;
}

h2{
    font-size: 40px;
    font-weight: 600;
    margin:50px 0 40px 0;
}

h6{
    font-weight: 400;
    font-size: 24px;
    margin:30px 0 20px 0;
}

.head-h.color1,
span.color1{
    color: #828282;
}

.head-h.align1{
    text-align: center;
}

ul.list-none{
    list-style: none;
    padding:0;
    margin: 0;
}

a{
    text-decoration: none;
    text-shadow: 0 0 0px rgba(52, 152, 219, 0);
    transition: text-shadow 0.4s ease-in-out;
}

a:hover{
    text-shadow: 0 8px 20px rgba(0, 0, 0);
}

a.color1{
    color: #454545;
}

#container{
    width:1440px;
    margin:0 auto;
    padding-top:40px;
    padding:56px 81px 0 81px;
}

#header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}

#top-left{
    display: flex;
    width: 50%;
    justify-content: start;
    align-items: center;
}

#top-logo a{
    display: block;
}

#top-right{
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

#top-nav-menu ul{
    display:flex;
    margin: 0 48px 0 0;
}

#top-nav-menu ul li{
    padding:0;
    margin: 0 0 0 50px;
}

#top-nav-menu ul li a{

}

.btn-black{
    display: flex;
    justify-content: center;
    align-items: center;
    width:127px;
    height: 52px;
    line-height: 52px;
    border-radius: 8px;
    padding:0;
    margin:0;
    font-size: 16px;
    background-color: #000000;
    border:none;
    outline: none;
    color:#ffffff;
    cursor: pointer;
}

/**********************/

#first-section{
    padding-top:126px;
}

#first-section h1{
    margin-bottom:28px;
}

#first-section h6{
    margin-top:0;
    margin-bottom:27px;
    letter-spacing: 3%;
}

button.align1{
    margin:0 auto;
}

/**********************/

#second-section{
    padding:124px 0 0 0;
}

.slider-img{
    width: 1280px;
    height: 640px;
}

.slider-img img{
    width: 100%;
    border-radius: 8px;
}

/**********************/

#third-section{
    padding:68px 0 68px 0;
}

#third-section h2{
    margin-bottom:9px;
    letter-spacing: 3%;
}

#third-section h6{
    margin-top:0;
    letter-spacing: 2%;
}

#reviews{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:19px 0 0 0;
}

.one-review{
    width: 404px;
    padding:31px 31px 34px 31px;
    border-radius: 12px;
    box-shadow: -4px 8px 20px 0 rgba(0, 0, 0, 0.1);
}

.one-review strong{
    letter-spacing: 1%;
}

.user-blk{
    display: flex;
    width: 100%;
    justify-content: start;
    margin:53px 0 0 0;
}

.user-blk .user-img{
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 16px;
}

.user-blk .user-img img{
    width: 100%;
}

.explain-blk{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.explain-blk .user-name{
    font-size: 16px;
}

.explain-blk .user-note{
    font-size: 16px;
}

/**********************/

#contact-us{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:136px 0 0 0;
}

#contact-left{
    display: flex;
    width: 50%;
    justify-content: start;
}

#contact-right{
    display: flex;
    width: 50%;
    justify-content: end;
}

#cnt-left-inner{
    width: 626px;
}

#cnt-left-inner h1{
    margin-top:0;
    margin-bottom:28px;
}

#cnt-left-inner h6{
    margin-top:0;
    margin-bottom: 37px;
    letter-spacing: 2%;
}

.base-form{
    width: 100%;
}

.base-form label{
    display:block;
}

.base-form > label{
    margin-bottom:27px;
}

form .input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

form .input-group label{
    width: 48%;
}

form .txt{
    display: block;
    margin-bottom:9px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"]{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border:1px solid #E0E0E0;
    padding:0 15px 0 15px;
}

textarea{
    width: 100%;
    height: 123px;
    border-radius: 8px;
    border:1px solid #E0E0E0;
    padding:11px 15px 11px 15px;
}

input[type="submit"]{
    width: 100%;
    height: 62px;
    background-color: #000000;
    color: #ffffff;
    border:none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

/**********************/

footer{
    display:flex;
    width:100%;
    justify-content: space-between;
    border-top:1px solid #E6E6E6;
    margin-top:53px;
    padding:49px 0 59px 0;
}

#ftr-left{
    display:flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

#ftr-right{
    display:flex;
    width: 50%;
    justify-content: start;
    padding-left: 16px;
}

.ftr-logo{
    margin:6px 0 50px 0;
}

.ftr-logo a{
    display: block;
    font-size: 24px;
    font-weight: 400px;
}

.ftr-socials{
    display: flex;
    height: 40px;
    justify-content: start;
}

.ftr-socials a{
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.ftr-socials a:last-of-type{
    margin-right: 0;
}

.ftr-socials a img{
    display: block;
    height: 100%;
}

.menu-wrap{
    width: 187px;
    margin-right: 33px;
}

.menu-wrap:last-of-type{
    margin-right: 0;
}

.menu-wrap strong{
    display: block;
    font-size: 16px;
}

.menu-wrap .menu-body{
    
}

.menu-wrap .menu-body ul{
    
}

.menu-wrap .menu-body ul li{
    margin-top: 25px;
}

.menu-wrap .menu-body ul li a{
    font-size: 16px;
}


@media (max-width:1440px) {
    #container{
        /*width: 100%;*/
    }
}